<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name='logo-youtube'></ion-icon>
      Shows de Lives
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">

  <div class="w3-content w3-section" style="max-width:500px">
    <img class="mySlides" src="https://i.ytimg.com/vi/1Q8qwm-8U-Q/maxresdefault.jpg" style="width:100%">
    <img class="mySlides" src="https://i.ytimg.com/vi/-5HmZs8Yxy0/maxresdefault.jpg" style="width:100%">
    <img class="mySlides" src="https://i.ytimg.com/vi/DeJYsX4NDcs/maxresdefault.jpg" style="width:100%">
  </div>

 <div id="conteudo-home">

  <!--
  <h1 class="titulo-dias">Segunda Feira - 06/07/2020</h1>
  <ion-scroll scrollX style="height:300px;">
    <ion-card class="scroll-item" *ngFor="let live of segunda">
      <img style="height: 184px;" src="{{live.img}}"/>
      <ion-card-content>
        <div>
          <h2>
            <ion-icon name='musical-notes'></ion-icon>
            {{ live.nome }}
          </h2>
          <h4>
            {{live.nome2}}
          </h4>
          <h3>
            <ion-icon name='time'></ion-icon>
            {{ live.data }}
          </h3>
        </div>
        <div id="aovivo">
          <a href="https://api.whatsapp.com/send?text=https://showsdelives.web.app" id="whatsapp-share-btt" target="_blank" ></a>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <a href="{{live.show}}" target="_blank">
          <button id="acessar" ion-button clear small color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Acessar
          </button>
        </a>
        </ion-col>         
      </ion-row>
    </ion-card>
  </ion-scroll>
  -->
  
  <!--
  <h1 class="titulo-dias">Terça Feira - 07/07/2020</h1>
  <ion-scroll scrollX style="height:300px;">
    <ion-card class="scroll-item" *ngFor="let live of terca">
      <img style="height: 184px;" src="{{live.img}}"/>
      <ion-card-content>
        <div>
          <h2>
            <ion-icon name='musical-notes'></ion-icon>
            {{ live.nome }}
          </h2>
          <h3>
            <ion-icon name='time'></ion-icon>
            {{ live.data }}
          </h3>
        </div>
        <div id="aovivo">
          <a href="https://api.whatsapp.com/send?text=https://showsdelives.web.app" id="whatsapp-share-btt" target="_blank" ></a>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <a href="{{live.show}}" target="_blank">
          <button id="acessar" ion-button clear small color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Acessar
          </button>
        </a>
        </ion-col>         
      </ion-row>
    </ion-card>
  </ion-scroll>
  -->

  <!--
  <h1 class="titulo-dias">Quarta Feira - 08/07/2020</h1>
  <ion-scroll scrollX style="height:300px;">
    <ion-card class="scroll-item" *ngFor="let live of quarta">
      <img style="height: 184px;" src="{{live.img}}"/>
      <ion-card-content>
        <div>
          <h2>
            <ion-icon name='musical-notes'></ion-icon>
            {{ live.nome }}
          </h2>
          <h3>
            <ion-icon name='time'></ion-icon>
            {{ live.data }}
          </h3>
        </div>
        <div id="aovivo">
          <a href="https://api.whatsapp.com/send?text=https://showsdelives.web.app" id="whatsapp-share-btt" target="_blank" ></a>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <a href="{{live.show}}" target="_blank">
          <button id="acessar" ion-button clear small color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Acessar
          </button>
        </a>
        </ion-col>         
      </ion-row>
    </ion-card>
  </ion-scroll>
  -->

  

  <!--
  <h1 class="titulo-dias">Quinta Feira - 09/07/2020</h1>
  <ion-scroll scrollX style="height:300px;">
    <ion-card class="scroll-item" *ngFor="let live of quinta">
      <img style="height: 184px;" src="{{live.img}}"/>
      <ion-card-content>
        <div>
          <h2>
            <ion-icon name='musical-notes'></ion-icon>
            {{ live.nome }}
          </h2>
          <h3>
            <ion-icon name='time'></ion-icon>
            {{ live.data }}
          </h3>
        </div>
        <div id="aovivo">
          <a href="https://api.whatsapp.com/send?text=https://showsdelives.web.app" id="whatsapp-share-btt" target="_blank" ></a>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <a href="{{live.show}}" target="_blank">
          <button id="acessar" ion-button clear small color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Acessar
          </button>
        </a>
        </ion-col>         
      </ion-row>
    </ion-card>
  </ion-scroll>
  -->
  
  
  
  <h1 class="titulo-dias">Sexta Feira - 10/07/2020</h1>
  <ion-scroll scrollX style="height:300px;">
    <ion-card class="scroll-item" *ngFor="let live of sexta">
      <img  style="height: 184px;"  src="{{live.img}}"/>
      <ion-card-content>
        <div>
          <h2>
            <ion-icon name='musical-notes'></ion-icon>
            {{ live.nome }}
          </h2>
          <h3>
            <ion-icon name='time'></ion-icon>
            {{ live.data }}
          </h3>
        </div>
        <div id="aovivo">
          <a href="https://api.whatsapp.com/send?text=https://showsdelives.web.app" id="whatsapp-share-btt" target="_blank" ></a>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <a href="{{live.show}}" target="_blank">
          <button id="acessar" ion-button clear small color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Acessar
          </button>
        </a>
        </ion-col>         
      </ion-row>
    </ion-card>
  </ion-scroll>
  

  
  <h1 class="titulo-dias">Sábado - 11/07/2020</h1>
  <ion-scroll scrollX style="height:300px;">
    <ion-card class="scroll-item" *ngFor="let live of sabado">
      <img style="height: 184px;" src="{{live.img}}"/>
      <ion-card-content>
        <div>
          <h2>
            <ion-icon name='musical-notes'></ion-icon>
            {{ live.nome }}
          </h2>
          <h3>
            <ion-icon name='time'></ion-icon>
            {{ live.data }}
          </h3>
        </div>
        <div id="aovivo">
          <a href="https://api.whatsapp.com/send?text=https://showsdelives.web.app" id="whatsapp-share-btt" target="_blank" ></a>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <a href="{{live.show}}" target="_blank">
          <button id="acessar" ion-button clear small color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Acessar
          </button>
        </a>
        </ion-col>         
      </ion-row>
    </ion-card>
  </ion-scroll>
  

  
  <h1 class="titulo-dias">Domingo - 12/07/2020</h1>
  <ion-scroll scrollX style="height:300px;">
    <ion-card class="scroll-item" *ngFor="let live of domingo">
      <img style="height: 184px;" src="{{live.img}}"/>
      <ion-card-content>
        <div>
          <h2>
            <ion-icon name='musical-notes'></ion-icon>
            {{ live.nome }}
          </h2>
          <h3>
            <ion-icon name='time'></ion-icon>
            {{ live.data }}
          </h3>
        </div>
        <div id="aovivo">
          <a href="https://api.whatsapp.com/send?text=https://showsdelives.web.app" id="whatsapp-share-btt" target="_blank" ></a>
        </div>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <a href="{{live.show}}" target="_blank">
          <button id="acessar" ion-button clear small color="danger" icon-start>
            <ion-icon name='logo-youtube'></ion-icon>
            Acessar
          </button>
        </a>
        </ion-col>         
      </ion-row>
    </ion-card>
  </ion-scroll>

  
  
 
  <br>
  <br>

  <div id="rodape">
    <p>Desenvolvido por: Ranyelson Dantas</p>
  </div>
  
  <br>
  <br>

</div>

<!--
<ion-fab bottom left>
  <button ion-fab style="background-color:yellow; color: black;"><img style="max-width: 190%;" src="assets/img/extra.png"></button>
  <ion-fab-list side="top">
    <button id="fab01" ion-button>Entrega em<br>Nova Palmeira/PB<br>
      <font style="padding-left: 8px"><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5583988216777" target="_blank">Faça seu pedido<br>Aqui!</a></font>
    </button>
  </ion-fab-list>
</ion-fab>
-->



<ion-fab bottom right>

  <button ion-fab style="background-color:white; color: black; padding: 6px;
  border-radius: 4px;"><img style="width: 40px; height: 40px;" src="assets/img/blog.jpeg"></button>
  <ion-fab-list side="left">
    <button id="fab02" ion-button>
      <a href="https://www.novapalmeiraoficial.com.br/" target="_blank">Acesse aqui!</a>
    </button>
  </ion-fab-list>
</ion-fab>

</ion-content>